# Markupable Trello Image Power-Up
# Copy this file to '.env' and fill in your values

NODE_ENV=development
PORT=3000
POWERUP_NAME=Markupable
POWERUP_ID=UNSPECIFIED
POWERUP_APP_KEY=UNSPECIFIED
CONTEXT_PATH=/

# Optional: path to cloudflared binary if not on PATH
# CLOUDFLARED_BIN_PATH=
